@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');



.caja-logo img{
	width: 48%;
}
.barra{
	background-color: #F6DEFA!important;
}
.navbar-toggler{
	outline: none;
}

.navbar-nav li{
	margin: 0px 20px;
}
.navbar-nav li a{
	font-size: 18px;
	color:#434b4d !important ;
}
.navbar-nav li a:hover{
	font-size: 18px;
	color:#000 !important ;
}
.nav-item a{
	text-transform: uppercase;
}
.header{
	background-image: url(../imagenes/fondo1.jpg);
	background-size:cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}
.header h1{
	animation: aparecer 2s ease;
}

@keyframes aparecer{
	0%{
		transform: translateY(-50px);opacity:0;
	}
	100%{
		transform: translateY(0);opacity:1;
	}
}

h1{
	font-family: 'Allura', cursive;
}

h2{
	letter-spacing: 5px;
	z-index: 2;
	color:#000;
}

.fondo {
    width: 100%;
    height: 100%;
    background-color: rgba(010,010,010,.5);
}
.fondo-productos {
    width: 100%;
    height: 100%;
    background-color: rgba(010,010,010,.5);
}
.header .container{
	height: 100%;
	width: 100%;
}
.quienes_somos .somos{
	display: flex;
	justify-content: center;
}
.somos p{
	line-height: 30px;
}
.productos{
	background-color: #fbe4ff;
	background-image: url(../imagenes/fondoContacto.webp);
	background-size: cover;
	background-position: center;
}

.caja-producto{
	border:1px #fff solid;
	border-radius: 20px;
	background-color: #fff;}
.caja-producto .imagen-producto{
	overflow: hidden;
	border-radius: 20px;
	cursor: pointer;
	margin-top:15px;
	
}
.caja-producto:hover img{
	transform: scale(1.2);
	border-radius: 20px;

}
.descripcion-producto h4{
	font-family: 'Allura', cursive;
	font-size: 30px;
}
.caja-producto .precio{
	color:#eec6f5;
	font-size: 30px;
}
.imagen-producto{
	position: relative;
}
.imagen-producto img{
	width: 100%;
	border-radius: 20px;
	transition: 1.5s ease;
}

.contacto{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contacto ul{
	margin:auto;
	padding: 0;
}

.contacto ul li{
	display: inline-block;
	list-style: none;
	margin:0px 30px;
}
ul li .circulo-redes{
	background-color:#F6DEFA;
	padding: 15px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul li .circulo-redes a i{
	font-size: 30px;
	color:#000;
}
.pie-de-pagina{
	background-color: #fbe4ff;
	color:#000;
}








@media (max-width: 575px) 
{
	.caja-logo img{
		width: 100%;
	}
	h1{
		font-size: 4rem !important;
	}
	.navbar-nav li a{
	font-size: 16px !important;
	border-bottom: 1px #fff solid !important;
	}

}


@media (min-width: 576px) and (max-width: 767px) 
{ 
	
	.caja-logo img{
		width: 100%;
	}
	h1{
		font-size: 4rem !important;
	} 
	.navbar-nav li a{
	font-size: 16px !important;
	border-bottom: 1px #fff solid !important;
	}
}


@media (min-width: 768px) and (max-width: 991px) 
{ 

	.caja-logo img{
		width: 100%;
	} 
	h1{
		font-size: 5rem !important;
	}
	.navbar-nav li a{
	font-size: 18px !important;
	border-bottom: 1px #fff solid !important;
	}
}


@media (min-width: 992px) and (max-width: 1199px) 
{ 
	.caja-logo img{
		width: 75%;
	}
 }
